h1 {
	color: #f8f8f8;
}

body {
	position: relative;
	margin: 0;
	color: #fff;
	font-family: monospace, serif;
	font-size: 12px;
}

/*Below is the roughdraft for my website*/

/*LineNumbWindow will stretch along the left side of the code window and display line #*/
/*BG color = #282923 */
/*highlighted BG color = #3e3d32 */
/*text primary color = #908463 */

.headboard {
	position: fixed;
	width: 100%;
	display: flex;
	background-color: #6d6e6a;
	z-index: 2;
	left: 0;
}

.NavMenu {
	background-color: #6d6e6a;
}

.NavBar {
	height: 35px;
	background-color: #6d6e6a;
}

.tblogo {
	position: absolute;
	bottom: 0;
	left: 10px;
	z-index: 100;
}

.ResumeButton {
	position: absolute;
	bottom: 0;
	left: 45px;
	z-index: 500;
}

.ResumeButton:hover {
	cursor: pointer;
}

.PortfolioButton {
	position: absolute;
	bottom: 0;
	left: 209px;
	z-index: 400;
}

.ContactButton {
	position: absolute;
	bottom: 0;
	left: 373px;
	z-index: 300;
}

.AboutButton {
	position: absolute;
	bottom: 0;
	left: 537px;
	z-index: 200;
}

/*Blog is out of scope at the moment and will be added in when I find time between other projects*/
.BlogButton {
	position: absolute;
	bottom: 0;
	left: 701px;
	z-index: 100;
}

.main {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	position: relative;
	padding-left: 45px;
	top: 0;
	right: 0;
	min-height: 100%;
}
/*content pushes main page and line numbers out from under header*/
.Content {
	padding-top: 35px;
	overflow: hidden;
}

.LineNumWindow {
	float: left;
	position: absolute;
	height: 100%;
	min-height: 99vh;
	top: 5px;
	bottom: 5px;
	width: 45px;
	margin: 3px 0 0 0;
	background-color: #282923;
	overflow: hidden;
}
.LineNumbers {
	border-right: solid;
	border-width: 10px;
	border-color: #282923;
	text-align: right;
	color: #6d6e6a;
	height: 100%;
	overflow: hidden;
}
.LineNumbers > p {
	padding: 0;
	margin:	0;
	height: 100%;
	overflow: hidden;
}

/*Code Window will display my information in theme of Sublime*/
#CodeWindow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: stretch;
	background-color: #282923;
	width:100%;
	height: 100%;
	min-height: 96vh;
}
.CodeWindowTextBlock {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	background-color: #282923;
}

/*The below section is the 'imitation CSS code' for portfolio to stylize similarly to Sublime Text*/
.PortfolioItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.PortfolioImageWrap {
	align-self: center;
}
.PortfolioImage {
	padding: 0 20px;
	height: 100px;
	border: #282923 2px solid;
}
.ClassContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
}
.ClassIntro {
	padding: 0;
	margin:	0;
}
.ClassBody {
	padding: 0 0 0 30px;
	border-left: dotted;
	border-width: 	0.05em;
	border-color: #908463;
	margin:	0;
}
.ClassClose {
	padding: 0;
	margin:	0;
}
.ClassBody > p {
	word-break: keep-all;
	padding: 0;
	margin:	0;
}
.c {/*.Class*/
	font-family: monospace;
	color: #a6ce28;
	padding: 0;
	margin:	0;
}
.p {/*Punctuation*/
	font-family: monospace;
	color: #f8f8dc;
	padding: 0;
	margin:	0;
}
.pr {/*Property*/
	font-family: monospace;
	font-style: italic;
	color: #67d8ef;
	padding: 0;
	margin:	0;
}
.v {/*Value*/
	font-family: monospace;
	color: #67d8ef;
	padding: 0;
	margin:	0;
}
.cm {/*Comment*/
	font-family: monospace;
	color: #746746;
	padding: 0;
	margin:	0;
}
.i {/*integer*/
	font-family: monospace;
	color: #ac80e8;
	padding: 0;
	margin:	0;
}
.m {/*unit of measurement*/
	font-family: monospace;
	color: #f92472;
	padding: 0;
	margin:	0;
}
/*The above section is for the 'imitation CSS code'*/







/* footboard is a footer but also a hacky fix to spacing at the bottom of the page*/
.footboard {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 8px;
	background-color: #282923;
}