.PersonalWebsite {
	Github: github.com/BeckTimothy/tbeck-pwp-portfolio;
	Live-View: TimothyBeck.com;
	Tools-Used: Javascript, CSS, HTML;
	Description: I created this project to outline my skills and resume as a professional developer and to practice my skills using various languages;
}

.VeteranResourceApp {
	Github: github.com/Veteran-Capstone-Group/Veteran-Resource-WebApp;
	Live-View: ToBeAnnounced.com;
	Tools-Used: React.JS, CSS, Bootstrap, HTML, PHP;
	Description: John Johnson-Rodgers and I created this webapp to combat homelessness and suicide rates among the veteran population in the Albuquerque area by providing information of helpful social services that may prove useful to someone struggling to integrate into society;
}